<a href="https://colab.research.google.com/github/GGoYoungHee/RGBrand/blob/main/Color_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/My Drive/컬러 마케팅/2. 데이터/interbrand/interbrand.csv',encoding='cp949')

In [ ]:
df.head()

       names  ... Unnamed: 13
0         3M  ...         NaN
1    Absolut  ...         NaN
2  Accenture  ...         NaN
3     adidas  ...         NaN
4      Adobe  ...         NaN

[5 rows x 14 columns]

In [ ]:
def rgb2hsv(r,g,b):
    r, g, b = r/255, g/255, b/255
    mx = max(r,g,b)
    mn = min(r,g,b)
    df = mx - mn
    v = mx
    
    if v == 0 :
        s = 0
    else:
        s = df / v

    if v == r:
        h = ( 60 * (g-b) ) / df
    elif v == g:
        h = 120 + ( 60 * (b-r) ) / df
    elif v == b:
        h = 240 + ( 60 * (r-g) ) / df
    
    if df == 0:   #r = g = b 가 모두 0일 때 h는 0
        h = 0
    
    if h < 0:
        h = h +360  # 문제 발생
    return h, s, v

In [ ]:
hsv=[]
for i in range(len(df)):
  hsv.append(rgb2hsv(df['R'][i],df['G'][i],df['B'][i]))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: RuntimeWarning: invalid value encountered in double_scalars

In [ ]:
data=pd.DataFrame(hsv)
data=data.rename(columns={0:'H',1:'S',2:'V'})

In [ ]:
data

              H         S         V
0    359.121951  0.864979  0.929412
1    212.307692  0.910828  0.615686
2      0.000000  0.000000  0.000000
3      0.000000  0.000000  0.000000
4      0.000000  1.000000  1.000000
..          ...       ...       ...
236  194.210526  0.304000  0.980392
237  354.754098  0.843318  0.850980
238  247.200000  0.810811  0.725490
239    0.000000  0.000000  0.000000
240  216.503497  0.821839  0.682353

[241 rows x 3 columns]

In [ ]:
def hsv2color(h):
  if 0<=h<15 or 360-15<=h<=360:
    color='빨강'
  elif 15<=h<45:
    color='주황'
  elif 45<=h<75:
    color='노랑'
  elif 75<=h<105:
    color='연두'
  elif 105<=h<135:
    color='라임'
  elif 135<=h<165:
    color='백록'# 단어 이상해
  elif 165<=h<195:
    color='옥색'
  elif 195<=h<225:
    color='바다색'
  elif 225<=h<255:
    color='파랑'
  elif 255<=h<285:
    color='보라'
  elif 285<=h<315:
    color='마젠타'
  elif 315<=h<345:
    color='진분홍'
  return color

In [ ]:
data['color']=pd.Series()
for i in range(241):
  data['color'][i]=hsv2color(data['H'][i])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
data

              H         S         V color
0    359.121951  0.864979  0.929412    빨강
1    212.307692  0.910828  0.615686   바다색
2      0.000000  0.000000  0.000000    빨강
3      0.000000  0.000000  0.000000    빨강
4      0.000000  1.000000  1.000000    빨강
..          ...       ...       ...   ...
236  194.210526  0.304000  0.980392    옥색
237  354.754098  0.843318  0.850980    빨강
238  247.200000  0.810811  0.725490    파랑
239    0.000000  0.000000  0.000000    빨강
240  216.503497  0.821839  0.682353   바다색

[241 rows x 4 columns]

In [ ]:
df.head()

       names  ... Unnamed: 13
0         3M  ...         NaN
1    Absolut  ...         NaN
2  Accenture  ...         NaN
3     adidas  ...         NaN
4      Adobe  ...         NaN

[5 rows x 14 columns]

In [ ]:
import cv2
from google.colab.patches import cv2_imshow
%matplotlib inline
from matplotlib import pyplot as plt
import time

In [ ]:
for i in range(241):
  try:
    image=cv2.imread('/content/drive/My Drive/컬러 마케팅/2. 데이터/interbrand/interbrand_logo(index)/'+str(i)+'.'+str(df['names'][i])+'.png')
    cv2_imshow(image)
    print(data['color'][i])
    time.sleep(1)
  except:
    print(df['names'][i],'error')