<a href="https://colab.research.google.com/github/GGoYoungHee/RGBrand/blob/main/RGBtoHEX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1= pd.read_csv('/content/drive/My Drive/Colab Notebooks/최종_hex수정.csv')
df1

    수정            name fincolor  ...        V3     hex1     hex3
0   완료       Accenture      무채색  ...       NaN  #bd00fe      NaN
1   완료          Amazon      무채색  ...       NaN  #fc9a00      NaN
2   완료            AT&T      무채색  ...       NaN  #29a1da      NaN
3   완료         Bacardi      무채색  ...  0.529412  #c01c1a  #877e7d
4   완료         BC Card      무채색  ...       NaN  #e73d44      NaN
..  ..             ...      ...  ...       ...      ...      ...
95  완료    한올바이오파마 주식회사      무채색  ...  0.921569  #2692d2  #ebc721
96  완료      한일홀딩스 주식회사      무채색  ...       NaN  #065dad      NaN
97  완료      한화생명보험주식회사      무채색  ...       NaN  #d49066      NaN
98  완료      한화솔루션 주식회사      무채색  ...       NaN  #d49066      NaN
99  완료  한화에어로스페이스 주식회사      무채색  ...       NaN  #d49066      NaN

[100 rows x 37 columns]

In [ ]:
df1.columns

Index(['수정', 'name', 'fincolor', 'Table', 'ID', 'sector', 'name_2', 'name_3',
       'name_4', 'Img', 'color_1', 'color_2', 'color_3', 'color_4', 'R1', 'G1',
       'B1', 'R2', 'G2', 'B2', 'R3', 'G3', 'B3', 'R4', 'G4', 'B4', 'H1', 'S1',
       'V1', 'H2', 'S2', 'V2', 'H3', 'S3', 'V3', 'hex1', 'hex3'],
      dtype='object')

In [ ]:
def rgb_to_hex(r, g, b):
    r, g, b = int(r), int(g), int(b)
    return '#' + hex(r)[2:].zfill(2) + hex(g)[2:].zfill(2) + hex(b)[2:].zfill(2)

In [ ]:
print(rgb_to_hex(140, 200, 211))

#8cc8d3

In [ ]:
hex_=[]
for i in range(len(df1)):
  if pd.isna(df1['R2'][i]):
    hex_.append(np.nan)
  else:
    hex_.append(rgb_to_hex(df1['R2'][i],df1['G2'][i],df1['B2'][i]))

In [ ]:
len(hex_)

100

In [ ]:
hex_

['#000000',
 '#000000',
 '#000000',
 '#000000',
 '#000000',
 '#000000',
 '#000000',
 '#231f20',
 '#231815',
 '#231e1f',
 '#000000',
 '#221814',
 '#80807f',
 '#545861',
 '#535149',
 '#58553a',
 '#232020',
 '#221815',
 '#535557',
 '#000000',
 '#e01f2e',
 '#000000',
 '#766b61',
 '#61080e',
 '#383738',
 '#a5a7aa',
 '#6c6b6b',
 '#626366',
 '#626366',
 '#6d6e70',
 '#636466',
 '#6e6e71',
 '#374249',
 '#737273',
 '#1f2950',
 '#221f1f',
 '#323336',
 '#000000',
 '#212120',
 '#666665',
 '#797f79',
 '#000000',
 '#363e4a',
 '#000000',
 '#000000',
 '#fe8000',
 '#262424',
 '#dde2d9',
 '#363133',
 '#231f20',
 '#000000',
 '#212121',
 '#1d1a1b',
 '#5b4f48',
 '#062e47',
 '#444444',
 '#000000',
 '#112549',
 '#1ca4c3',
 '#151515',
 '#242e3f',
 '#dcdbbf',
 '#afa8a8',
 '#172b3c',
 '#a8a4a1',
 '#838079',
 '#272324',
 '#323232',
 '#2c292a',
 '#1d2e53',
 '#5b5f62',
 '#a5aeac',
 '#8a8c97',
 '#aab5cf',
 '#646566',
 '#000000',
 '#686667',
 '#000000',
 '#3c4950',
 '#4f5454',
 '#c9dbe5',
 '#000000',
 '#000000',
 '#000000',
 '#1d1411',
 '#4b4232',
 '#000056',
 '#4f0706',
 '#424b51',
 '#2b2928',
 '#000000',
 '#170f09',
 '#4b4342',
 '#737b80',
 '#1e445c',
 '#000000',
 '#5d5a5a',
 '#000000',
 '#000000',
 '#000000']

In [ ]:
tmp2=pd.DataFrame({'hex2':hex_})
tmp2

       hex2
0   #000000
1   #000000
2   #000000
3   #000000
4   #000000
..      ...
95  #000000
96  #5d5a5a
97  #000000
98  #000000
99  #000000

[100 rows x 1 columns]

In [ ]:
rst3=pd.concat([df1,tmp2],axis=1)
rst3

    수정            name fincolor  ...     hex1     hex3     hex2
0   완료       Accenture      무채색  ...  #bd00fe      NaN  #000000
1   완료          Amazon      무채색  ...  #fc9a00      NaN  #000000
2   완료            AT&T      무채색  ...  #29a1da      NaN  #000000
3   완료         Bacardi      무채색  ...  #c01c1a  #877e7d  #000000
4   완료         BC Card      무채색  ...  #e73d44      NaN  #000000
..  ..             ...      ...  ...      ...      ...      ...
95  완료    한올바이오파마 주식회사      무채색  ...  #2692d2  #ebc721  #000000
96  완료      한일홀딩스 주식회사      무채색  ...  #065dad      NaN  #5d5a5a
97  완료      한화생명보험주식회사      무채색  ...  #d49066      NaN  #000000
98  완료      한화솔루션 주식회사      무채색  ...  #d49066      NaN  #000000
99  완료  한화에어로스페이스 주식회사      무채색  ...  #d49066      NaN  #000000

[100 rows x 38 columns]

In [ ]:
rst3.to_csv('/content/drive/My Drive/Colab Notebooks/최종_hex수정_fin.csv',index=False,encoding='utf-8')

In [ ]:
sub = ['','','','']
list(df1['R1'],df1['R2'],df1['R3'])

for i in range(0,4):
  sub[i]=df1[['R'+str(i+1),'G'+str(i+1),'B'+str(i+1)]]

sub[1]

      R2    G2    B2
0    0.0   0.0   0.0
1    0.0   0.0   0.0
2    0.0   0.0   0.0
3    0.0   0.0   0.0
4    0.0   0.0   0.0
..   ...   ...   ...
95   0.0   0.0   0.0
96  93.0  90.0  90.0
97   0.0   0.0   0.0
98   0.0   0.0   0.0
99   0.0   0.0   0.0

[100 rows x 3 columns]

In [ ]:
for i in range(len(sub[0])):
    print(rgb_to_hexcode(sub[0].iloc[i,0],sub[0].iloc[i,1],sub[0].iloc[i,2]))

bd00fe
fc9a00
29a1da
c01c1a
e73d44
fbce12
39ab36
e98723
f8961d
e98822
ee151e
e21b22
0076cd
00ab91
fbb115
cada29
a39067
e76f27
e7240f
00b287
000000
1e4380
fbaf16
b5202b
e63734
009dd9
c10032
bf0d3f
c50f42
bf0c3f
c00e40
c00e40
00867b
7eb900
ee7522
b3985f
ccae87
e2061c
ae2021
fe8600
007bc1
e2211b
016da8
da1f20
cc1c00
656665
cc1f3c
7ab850
8a9f71
f05561
febf01
7fc2cf
e3b443
fdd107
dd7d54
fa9434
03a1e9
c72031
000000
106995
0bc0df
55a951
973a3d
51a7c0
ce2334
e7031d
1161a1
b8d14a
0b0ce7
af786e
074c95
a3c63e
bb1056
445fa4
baa79a
e60215
efa230
f30708
ad8e8a
e60000
0b7ec3
6b3939
008a7b
ec8f4f
043b7a
e7ae2b
b93e56
bba139
f15b26
df6123
e76f27
918882
e41e2e
ebb649
ef4e37
2692d2
065dad
d49066
d49066
d49066

In [ ]:
for i in range(len(sub[1])):
  try:
    print(rgb_to_hexcode(sub[1].iloc[i,0],sub[1].iloc[i,1],sub[1].iloc[i,2]))
  except:
    pass

<color>#000000</color>
<color>#000000</color>
<color>#000000</color>
<color>#000000</color>
<color>#000000</color>
<color>#000000</color>
<color>#000000</color>
<color>#231f20</color>
<color>#231815</color>
<color>#231e1f</color>
<color>#000000</color>
<color>#221814</color>
<color>#80807f</color>
<color>#545861</color>
<color>#535149</color>
<color>#58553a</color>
<color>#232020</color>
<color>#221815</color>
<color>#535557</color>
<color>#000000</color>
<color>#e01f2e</color>
<color>#000000</color>
<color>#766b61</color>
<color>#61080e</color>
<color>#383738</color>
<color>#a5a7aa</color>
<color>#6c6b6b</color>
<color>#626366</color>
<color>#626366</color>
<color>#6d6e70</color>
<color>#636466</color>
<color>#6e6e71</color>
<color>#374249</color>
<color>#737273</color>
<color>#1f2950</color>
<color>#221f1f</color>
<color>#323336</color>
<color>#000000</color>
<color>#212120</color>
<color>#666665</color>
<color>#797f79</color>
<color>#000000</color>
<color>#363e4a</color>
<color>#000000</color>
<color>#000000</color>
<color>#fe8000</color>
<color>#262424</color>
<color>#dde2d9</color>
<color>#363133</color>
<color>#231f20</color>
<color>#000000</color>
<color>#212121</color>
<color>#1d1a1b</color>
<color>#5b4f48</color>
<color>#062e47</color>
<color>#444444</color>
<color>#000000</color>
<color>#112549</color>
<color>#1ca4c3</color>
<color>#151515</color>
<color>#242e3f</color>
<color>#dcdbbf</color>
<color>#afa8a8</color>
<color>#172b3c</color>
<color>#a8a4a1</color>
<color>#838079</color>
<color>#272324</color>
<color>#323232</color>
<color>#2c292a</color>
<color>#1d2e53</color>
<color>#5b5f62</color>
<color>#a5aeac</color>
<color>#8a8c97</color>
<color>#aab5cf</color>
<color>#646566</color>
<color>#000000</color>
<color>#686667</color>
<color>#000000</color>
<color>#3c4950</color>
<color>#4f5454</color>
<color>#c9dbe5</color>
<color>#000000</color>
<color>#000000</color>
<color>#000000</color>
<color>#1d1411</color>
<color>#4b4232</color>
<color>#000056</color>
<color>#4f0706</color>
<color>#424b51</color>
<color>#2b2928</color>
<color>#000000</color>
<color>#170f09</color>
<color>#4b4342</color>
<color>#737b80</color>
<color>#1e445c</color>
<color>#000000</color>
<color>#5d5a5a</color>
<color>#000000</color>
<color>#000000</color>
<color>#000000</color>

In [ ]:
for i in range(len(sub[2])):
  try:
    print(rgb_to_hexcode(sub[2].iloc[i,0],sub[2].iloc[i,1],sub[2].iloc[i,2]))
  except:
    pass

<color>#877e7d</color>
<color>#e22f42</color>
<color>#007cc2</color>
<color>#0080c5</color>
<color>#006ecc</color>
<color>#f7961c</color>
<color>#0298d5</color>
<color>#8e9295</color>
<color>#ec1d24</color>
<color>#4d4d4e</color>
<color>#ffb800</color>
<color>#737374</color>
<color>#df7f66</color>
<color>#debe8f</color>
<color>#abafb4</color>
<color>#7ab850</color>
<color>#c8ccc6</color>
<color>#c8bfb1</color>
<color>#6cbb11</color>
<color>#9cb569</color>
<color>#ca1a23</color>
<color>#95a2a7</color>
<color>#97a09a</color>
<color>#f5ba3a</color>
<color>#395243</color>
<color>#000000</color>
<color>#768898</color>
<color>#d5d9c2</color>
<color>#2b4054</color>
<color>#c7cdcf</color>
<color>#debda1</color>
<color>#aea5a1</color>
<color>#8e9295</color>
<color>#000000</color>
<color>#ebc721</color>

In [ ]:
for i in range(len(sub[3])):
  try:
    print(rgb_to_hexcode(sub[3].iloc[i,0],sub[3].iloc[i,1],sub[3].iloc[i,2]))
  except:
    pass

In [ ]:
df1 = df1.dropna(how='all')
df1.head(3)

    수정    name fincolor       Table  ...     hex2 hex3 hex4 Unnamed: 42
0  NaN  (주)유니드    Green       Kospi  ...  #fe3400  NaN  NaN         NaN
1  NaN   (주)후성     Blue       Kospi  ...      NaN  NaN  NaN         NaN
2  NaN      3M      Red  Interbrand  ...      NaN  NaN  NaN         NaN

[3 rows x 43 columns]

In [ ]:
for i in range(0,4):
  sub[i] = 'color_'+str(i)

sub[0]

'color_0'

In [ ]:
df1[['color_1 - R','color_1 - G','color_1 - B']] = pd.DataFrame(df1.color_1.str.split('/',2).tolist())
df1

      수정          name fincolor  ... color_1 - R  color_1 - G color_1 - B
0    NaN        (주)유니드    Green  ...          26          135           4
1    NaN         (주)후성     Blue  ...           0            0         179
2    NaN            3M      Red  ...   237*32*35         None        None
3    NaN       Absolut     Blue  ...   14*80*157         None        None
4     완료     Accenture      무채색  ...   189*0*254         None        None
..   ...           ...      ...  ...         ...          ...         ...
536  NaN  현대중공업지주 주식회사    Green  ...           0          150          57
537  NaN  현대해상화재보험주식회사     Blue  ...          22           66         111
538  NaN         효성중공업     Blue  ...          21           70         151
539  불가능       휴맥스모빌리티      무채색  ...          35           33          36
540  NaN      휴켐스 주식회사    Green  ...          10           74          63

[541 rows x 46 columns]

In [ ]:
# df2 = pd.DataFrame(df1.color_2.str.split('/', 2).tolist(), columns = ['color_2 - R','color_2 - G','color_2 - B'])
# df3 = pd.DataFrame(df1.color_3.str.split('/', 2).tolist(), columns = ['color_3 - R','color_3 - G','color_3 - B'])
# df4 = pd.DataFrame(df1.color_4.str.split('/', 2).tolist(), columns = ['color_4 - R','color_4 - G','color_4 - B'])

TypeError: ignored

In [ ]:
def rgb_to_hex(r,g,b):
  try:
    r,g,b=int(r),int(g),int(b)
    return hex(r)[2:].zfill(2)+hex(g)[2:].zfill(2)+hex(b)[2:].zfill(2)
  except:
    return np.nan

In [ ]:
df1.columns

Index(['수정', 'name', 'fincolor', 'Table', 'ID', 'sector', 'name_2', 'name_3',
       'name_4', 'Img', 'color_1', 'color_2', 'color_3', 'color_4', 'R1', 'G1',
       'B1', 'R2', 'G2', 'B2', 'R3', 'G3', 'B3', 'R4', 'G4', 'B4', 'H1', 'S1',
       'V1', 'H2', 'S2', 'V2', 'H3', 'S3', 'V3', 'H4', 'S4', 'V4', 'hex1',
       'hex2', 'hex3', 'hex4', 'Unnamed: 42', 'color_1 - R', 'color_1 - G',
       'color_1 - B'],
      dtype='object')

In [ ]:
# temp=[]
# for i in range(len(sub[j])):
#   temp.append(rgb_to_hex(sub[j].iloc[i,0], sub[j].iloc[i,1], sub[j].iloc[i,2]))
# result=pd.DataFrame(temp)